<%- include('../includes/head.ejs') %>
</head>
<body>
   <%- include('../includes/employer-navigation.ejs') %>

    <main>
        <form class="company-form" action="/employer/edit-company/<%= employerId %>" method="POST">
            <div class="form-control">
                <label for="companyName">Company Name</label>
                <input type="text" name="companyName" id="companyName" value="<%= employer.companyName %>">
            </div>
            <div class="form-control">
                <label for="intro">Intro</label>
                <textarea name="intro" id="intro" rows="5" value="<%= employer.intro%>"></textarea>
            </div>
            <button class="btn" type="submit">Update Company Details</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>

