<%- include('../includes/head.ejs') %>
</head>
<body>
   <%- include('../includes/user-navigation.ejs') %>

    <main>
        <div class="card__image">
            <img src="<%= profile.imageUrl %>" alt="profile_picture">
        </div>
        <form action="/user/get-edit-profile/<%= profile.id %>" method="POST">
            <button type="submit" class="btn">Edit Profile</button>
        </form>
        <h1>profile  id: <%- profile.id %></h1>
        <h1>profile  full name: <%- profile.fullName %></h1>
        <h1>profile  location: <%- profile.location %></h1>
        <h1>profile  intro: <%- profile.intro %></h1>
        <form action="/user/profile/upload-resume/<%= userId %>" method="POST" enctype="multipart/form-data">
            <input type="file" name="resume">
            <button type="submit">Upload Resume</button>
        </form>
        <form action="/user/delete-account/<%= userId %>" method="POST" enctype="multipart/form-data">
            <button type="submit">Delete Account</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>